<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
{% load to_and %}
{% include 'head.html' %}


<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper"> {% include 'navbar.html' %}
    <div class="content-wrapper">
        <div class="container body">
            <div class="main_container">
                <div class="right_col" role="main">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Party Trial</h2>
                                    <div class="clearfix"></div>
                                </div>


                                </div>
                            </div>
                        </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Select Party </h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">

                                    <form class="form-horizontal form-label-left input_mask" action="/party_trial/{{ party.0.party_id }}" method="POST" id="">
                                            {% csrf_token %}
                                    <div class="col-md-3 col-sm-3 col-xs-12">{{ form.date_from }}</div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">{{ form.date_to }}</div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">{{ form.comp_name }}</div>
                                    <button type="submit" class="btn btn-success">Search</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Party Trial
                                    </h2>

                                    <div class="clearfix"></div>

                                </div>
                                <div class="x_content">
                                    <table class="table table-hover" id="party_table">
                                        <thead>
                                        <tr>
                                            <th>Party ID</th>
                                            <th>Invoice ID</th>
                                            <th>Invoice Date</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Particulars</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for acct_name in party %}
                                        <tr>
                                            <td><a href="">
                                                <button style=" background: transparent; color:#73879C;border: none">{{acct_name.party_id }}
                                                </button>
                                            </a></td>
                                            <td><a href="">
                                                <button style=" background: transparent; color:#73879C;border: none">{{acct_name.inv_id }}
                                                </button>
                                            </a></td>
                                            <td><a href="">
                                                <button style=" background: transparent; color:#73879C;border: none">{{acct_name.inv_date }}
                                                </button>
                                            </a></td>
                                            <td ><a href="">
                                                <button id="db_{{ forloop.counter }}" style=" background: transparent; color:#73879C;border: none">{{acct_name.db }}
                                                </button>
                                            </a></td>
                                            <td><a href="">
                                                <button id="cr_{{ forloop.counter }}" style=" background: transparent; color:#73879C;border: none">{{acct_name.cr }}
                                                </button>
                                            </a></td>
                                            <td><a href="">
                                                <button style=" background: transparent; color:#73879C;border: none">{{acct_name.particulars }}
                                                </button>
                                            </a></td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td id="final_db" ></td>
                                            <td id="final_cr" ></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'table.html' %}
        </div>
    </div>



<script>

// Add the rows in the table
window.onload = function () {
    var count = $('#party_table tr').length;

}
// Add the debit
var $counter= 0;

$.each( $("button[id^='db_']"), function () {
  $counter += parseInt($(this).html());
});
$('#final_db').text($counter).css("font-weight", "bold");

var $counter1= 0;

$.each( $("button[id^='cr_']"), function () {
  $counter1 += parseInt($(this).html());
});
$('#final_cr').text($counter1).css("font-weight", "bold");



</script>
</body>{% include 'form_advanced.html' %}
{% include 'footer.html' %}